@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}


:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: rgb(255, 255, 255);
  --main-color: #0ef;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .Input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .Input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .Input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    cursor: pointer;
}



 



















